.form {
    display: grid;
    gap: var(--spacing-600);
    max-width: 32rem;
    margin-inline: auto;
    padding-inline: var(--spacing-gutter);
    margin-block-start: var(--spacing-500);
}

.field {
    display: grid;
    gap: var(--spacing-100);

    input,
    textarea {
        padding: var(--spacing-100) var(--spacing-50);
    }
}

.toggle {
    display: flex;
    gap: var(--spacing-400);
    border: 0;
    padding: 0;
    margin: 0;
}

.option {
    display: flex;
    gap: var(--spacing-50);
    align-items: center;
}

.option,
.option input {
    cursor: pointer;
}

.legend {
    font-family: inherit;
    margin-block-end: var(--spacing-100);
}

.actions {
    display: flex;
    justify-content: space-between;
}
